<h1>Hello New Card Group</h1>
<%= form_for @card_group do |f| %>
  <p>
    <%= f.label :Reader %>
    <%= f.collection_select(:card_reader_id, CardReader.all, :id, :name) %>
    <%= f.label :Group_name %>
    <%= f.collection_select(:card_reader_group_id, CardReaderGroup.all, :id, :name) %>
  </p>
   
  <p>
    <%= f.submit "Save" %>
  </p>
  
  <% end %>