<h1>hello</h1>
<%= form_for @card_reader do |f| %>
  <p>
    <%= f.label :Address %>
    <%= f.text_field :address, size: "17x12" %>
    <%= f.label :name %>
    <%= f.text_field :name, size: "26x12" %>
  </p>
   
  <p>
    <%= f.submit "Save" %>
  </p>
  
  <% end %>